// // # Base styles
// .model-viewer {
//     position: relative;
  
//     .overlay-ui {
//       position: absolute;
//       top: 0; // Adjust as needed
//       right: 0; // Adjust as needed
//       display: flex;
//       flex-direction: column;
//       padding: 10px;
//       z-index: 10; // Ensure it's above the canvas
  
//       button {
//         margin: 5px;
//         // Additional button styling
//       }
//     }
// }

@use './variables' as *;

/* Global Typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-light;
  background-color: $background-light;
  font-weight: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  color: $text-dark;
  background-color: $background-dark;
}

/* Define CSS Variables */
:root {
  --spacing-small: 5px;
  --spacing-medium: 10px;
  --z-index-overlay: 10;
}

/* Base styles with mobile-first approach */
.model-viewer {
  position: relative;
}

.model-viewer .overlay-ui {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  z-index: var(--z-index-overlay);
}

.model-viewer .overlay-ui button {
  margin: var(--spacing-small);
  /* Additional button styling */
}

/* Media Queries for larger screens (e.g., tablets, desktops) */
@media (min-width: 768px) {
  .model-viewer .overlay-ui {
    /* Adjust styles for larger screens */
    flex-direction: row; /* Example change */
  }
}
