@use 'sass:color';
// src/assets/scss/_Resume.scss
@use './variables' as *;
@use './DarkModeToggle';

.resume {
    background: $color-light;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    max-width: 95%;
    max-height: 75vh; // Use viewport height to control the container size
    margin: 1rem auto;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    overflow-y: auto; // Enable scroll inside resume if content is too tall
  
    .resume-header {
      margin-bottom: 1rem;
    }

  .resume-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    flex-shrink: 0; // Prevent these from shrinking
    margin-top: auto; // Push the buttons to the bottom of the flex container
    a,
    button {
      width: auto;
      min-width: 150px;
      padding: 0.625rem 1.25rem;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: $color-primary;
      border: 1px solid transparent;
      border-radius: 0.375rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      &:hover {
        background-color: color.adjust($color-primary, $lightness: -10%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); // Adding shadow for depth
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .back-button {
    color: $color-dark;
    background-color: transparent;

    &:hover {
      color: $text-dark;
      background-color: color.adjust($color-light, $lightness: 50%);
    }
  }
}

// Dark mode styles
body.dark-mode {
  .resume {
    background: $background-dark;
    color: $text-dark;

    h2,
    h3 {
      color: $color-light;
    }

    button {
      background-color: $color-dark;

      &:hover {
        background-color: color.adjust($color-dark, $lightness: 10%);
      }
    }

    .back-button {
      color: $color-light;

      &:hover {
        color: $text-dark;
      }
    }
  }
}

.button-like-anchor {
  // Apply the same styles you have for your buttons
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; // Remove underline from anchor tag
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 5px;
  font-weight: bold;

  svg {
    margin-right: 8px;
  }

  &:hover {
    background-color: color.adjust($color-primary, $lightness: -10%);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }
}

// Responsive design adjustments
@media (max-width: 768px) {
  .resume {
    max-width: 90%; // Allowing resume to be more responsive
    padding: 15px; // Slightly less padding on smaller screens
  }
}
