@use 'sass:color';
@use 'variables.scss' as *;

.resume-selection {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 2rem auto; // Increase margin to give space from the viewport edge
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    overflow-y: hidden; // Enable scroll inside resume selection if content is too tall
    max-height: 60vh; // Limit height to ensure modal doesn't get too tall
    scroll-behavior: smooth;
    

  // Glow effect on hover
  &:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 0 50px rgba($color-primary, 0.5);
    transform: translateY(-5px);
  }

  h3 {
    color: $color-primary;
    font-size: 2rem; // Larger font size for better readability
    margin-bottom: 30px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Text shadow for depth
  }

  .resume-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; // Align items to start to allow for scrolling
    position: relative;
    width: 100%;
    height: 80vh; // Use viewport height to control the container size
    overflow-y: auto; // Allow vertical scrolling
    scrollbar-width: thin; // Slim scrollbar for non-webkit browsers
    scrollbar-color: $color-primary rgba(0, 0, 0, 0.1); // Custom scrollbar colors
    padding-right: 10px; // Add padding to prevent the scrollbar from overlapping content
    max-height: 60vh; // - adjust this value
    scroll-behavior: smooth;
    // Webkit scrollbar styles
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }
    ::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 10px;
    }
  }

  .resume-option {
    background-color: color.adjust($color-primary, $lightness: 40%);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: auto;
    left: auto;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin: 10px 0; // Add margin for separation between elements
    width: 80%; // Adjust width as needed
    max-width: 500px;
    opacity: 0.5;

    &.focused {
      opacity: 1;
      transform: translateY(-50%) scale(1);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // More pronounced shadow on the focused element
    }

    // On hover, add a glow effect around the thumbnails
    &:hover {
      background-color: color.adjust($color-primary, $lightness: 50%);
      box-shadow: 0 0 20px rgba($color-primary, 0.5);
      z-index: 10; // Ensure the hovered item is above others
    }
    
    h4 {
      margin: 10px 0;
      color: color.adjust($color-primary, $lightness: -20%);
    }
  
    button {
      width: 100%;
      background-color: $color-primary;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: color.adjust($color-primary, $lightness: -10%);
      }
    }
    
    img {
      width: 40%; // Full width of its container
      max-width: 300px; // Maximum width to control size on larger screens
      height: auto;
      border-radius: 5px;
      transition: transform 0.3s, box-shadow 0.3s; // Smooth transitions for hover effects
      object-fit: cover; // Ensures the image covers the area appropriately
      cursor: pointer;
      
      &:hover {
        transform: scale(1.03); // Slight scale effect on hover
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Shadow for depth
      }
    }
  }

  // Responsive design for smaller screens
  @media (max-width: 768px) {
    .resume-selection {
      max-width: 90%;
      .resume-option {
        width: 45%; // Adjust size for small screens
        margin-bottom: 15px; // Add space between items
      }
    }
  }
  
  // Extra small devices
  @media (max-width: 480px) {
    .resume-selection {
      .resume-option {
        width: 90%; // Make the thumbnails span almost full-width on extra small screens
      }
    }
  }
}

// Dark mode styles
body.dark-mode {
  .resume-selection {
    background: $color-dark;
    color: white;

    .resume-option {
      background-color: color.adjust($color-dark, $lightness: -5%);
      h4 {
        color: white;
      }

      button {
        background-color: color.adjust($color-dark, $lightness: 10%);
        &:hover {
          background-color: color.adjust($color-dark, $lightness: 5%);
        }
      }
    }
  }
}
